@import "tailwindcss";
@import "keen-slider/keen-slider.min.css";

:root {
  --black: #000000;
  --white: #ffffff;
}

@theme inline {
  --font-sans: var(--font-urbanist-sans);
  --breakpoint-xs: 540px;
  --color-gray-80: #141414;
  --color-purple-60: #703bf7;
  --color-gray-15: #262626;
  --color-gray-10: #1a1a1a;
  --color-grey-60: #999999;
}

body {
  background: var(--black);
  color: var(--white);
  font-family: "Urbanist", sans-serif;
}

@layer base {
  h1 {
    @apply text-[28px] font-semibold md:text-[46px];
  }
  h2 {
    @apply text-[26px] font-semibold md:text-[38px];
  }
  h3 {
    @apply text-[20px] font-semibold;
  }
  p {
    @apply text-grey-60 text-sm md:text-base;
  }
}

@layer components {
}

@utility bg-filled {
  @apply bg-no-repeat bg-center bg-cover;
}

@utility flex-center {
  @apply flex justify-center items-center;
}
@utility flex-between {
  @apply flex justify-between items-center;
}
@utility flex-normal {
  @apply flex justify-start items-center;
}

@utility absolute-center {
  @apply absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2;
}
@utility grid-center {
  @apply grid place-content-center;
}

@utility square-* {
  width: calc(--value(integer) * 4px);
  height: calc(--value(integer) * 4px);
}
@utility p-inline {
  @apply px-4 md:px-12;
}

@utility cardshadow {
  @apply shadow-[0_0_14px_rgba(255,255,255,0.2)];
}
